html {
    box-sizing: border-box;
    background-color: rgb(191, 200, 173);
}

body {
    font-family: 'Segoe Print','Segoe UI Symbol','Roman',sans-serif;
    margin: 0;
}

h1 {
    background-color: rgb(199, 130, 131);
    width: 300px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 20px auto;
}

.card-row {
    display: flex;
    justify-content: space-between;
}

.card {
    display: inline-block;
    background-color: rgb(199, 130, 131);
    width: 400px;
    padding: 10px;
    margin: 0 125px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

.card-title {
    background-color: rgb(89, 101, 111);
    display: inline-block;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    padding: 0 10px;
    margin: 0 auto;
}

#az-area {
    display: flex;
}

#az-area span {
    width: 100%;
    height: 100%;
}

.card-content {
    font-size: 20px;
    padding: 5px;
    align-items: center;
    box-sizing: border-box;
}

.desc {
    font-size: 15px;
}

.recipe-title {
    font-size: 23px;
    font-weight: 800;
    margin: 5px auto;
}

#top-recipes .recipe-title {
    font-size: 20px;
}

img {
    display: block;
    margin: 0 auto;
    border: 4px solid rgb(32, 6, 59);
    max-width: 75%;
    height: auto;
}

#top-recipes img {
    display: block;
    margin: 0 auto;
    border: 4px solid rgb(32, 6, 59);
    max-width: 45%;
}

h3 {
    
    font-weight: 1000;
}

.center {
    text-align: center;
}